/* form {
    /* padding-top: 100px; */
    /* text-align: center;
    top: 15;
  } */ 

/* * {
  background-color: red;
} */

  .form-items{
    width: 21rem;
    /* height: 30rem; */
    /* border: 1px solid black; */
    margin: 1em;
    border-radius: 20px;
    text-align: center;
    background-color: #0C1639;
    /* background-color: white; */
    color: white;
    /* border: 1px solid red; */
  }

  .formElement {
    display:flex;
    justify-content: space-around;
  }

  /* .new-album-container {
    padding-top: 4rem;
  } */



  input {
    border-radius: 3px;
    appearance: none;
    background: #f2f2f2;
    padding: 8px;
    border: 1px solid grey;
    font-size: 14px;
    margin-bottom: 10px;
   
    /* display: flex;
    align-items: end; */
  }

  input[type=submit] {
    margin-bottom: 1rem;
  }

  label {
    width: 30px;
    color: white;
    display: inline-block;
    /* line-height: 1rem; */
    /* text-align: right; */
    /* text-align: start; */
  }

  .new-artist-form {
    height: 15rem;
  }

  .new-song-form {
    height: 29rem;
  }

  .new-album-form {
    height: 22rem;
  }

  .admin-forms-container {
    /* padding: 90px 0px 0px 300px; */
    display: flex;
    /* padding-left: 20rem; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    border: 1px solid red;
     flex-wrap: wrap;
     background-color: rgb(47,88,123);
     width: 72rem;
     height: 44.39rem;
     margin: 0 0 20px 288px;
    position: absolute;
    top: 10%;

  }

  /* .navbar-admin-container {
    position: fixed;
  } */

  h2 {
    padding: 1rem 0;
  }


  .muzieknootjes {
    display: block;
    margin: auto;
    position: fixed;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 0px solid #000;
    top: 20%;
    left: 20%;
    z-index: 1;
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }

  /* .muzieknootjes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: 20%;
    left: 20%;
    border: 1px solid red;
  } */
  