*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}


:root{
    --dark-blue: #051337;
    --white: #fff; 
}


.navbar-container{
    display: grid; 
    /* justify-content: center; */
    align-items: center;
    width: 100%; 
    /* height: 5.5em; */
    height: 10%;
    z-index: 1;
    position: fixed;
}

.navbar-container-bckg-dark{
    background-color: var(--dark-blue);
}

.navbar-logo--white{
    color: var(--white)
}

.navbar-logo-title{
    margin-left: 0.5em;
}

.navbar{
    display: flex;
    /* width: 90em;  */
    /* border: 1px solid black;  */
    padding-left: 2em;
    justify-content: space-between;
}

.navbar-logo{
    display: flex;  
    height: 5em; 
    align-items: center;
    /* margin-left: 5em; */
    /* border: 1px solid black;  */
}

.navbar-right{
    display: flex;
    /* border: 1px solid black;  */
    align-items: center;
    margin: 1em;
}

.navbar-search input{
    height: 3em;
    width: 25em;
    /* background-color: black; */
    border: none;
    border-radius: 10px;
    margin-right: 1em;
    padding: 1em;
}

.navbar-toggle{
    color: var(--white)
}

.navbar-burger{
    display: none;
}

/* .navbar-search-searchbar{
    width: 10em; 
} */

@media screen and (max-width: 768px){
    
    .navbar-container{
        display: grid; 
        justify-content: center;
        align-items: center;
        background-color: var(--dark-blue);
        width: 100%; 
    }
    
    .navbar{
        display: block; 
        justify-content: center;
        background-color: var(--dark-blue);
        text-align: center;
        /* width: auto;  */
      }
    
      .navbar-logo{
        display: flex;  
        justify-content: center;
        height: 5em; 
        align-items: center;
        /* margin-left: 5em; */
        /* border: 1px solid black;  */
    }

    .navbar-burger{
        display: block;
        padding-left: 4em;
    }

    .navbar-right {
        /* width: auto;  */
        margin-right: 20em;
        margin-left:20em;
        background-color: var(--dark-blue);
      }
    /* nav .one{
      display: flex; 
    }
    
    nav .one li{
       margin-right: 100px; 
    }
    
    nav .two{
      display: flex; 
    }
    
    nav .two li{
      margin-left: 15px; 
    } */
  }