*{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}

.list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(47, 88, 123);
  padding-top: 90px;
  padding-left: 300px;
}

.component{
    flex: 1 0 21%;
    /* https://stackoverflow.com/questions/29546550/flexbox-4-items-per-row */
    text-align: center;
    color: white;
    line-height: 1;
    padding: 20px;
    margin: 10px;
    border: 0.5px black solid;
    border-radius: 15px;
    background-color: rgb(12, 22, 57);
    height: 400px;
    width: 300px;

}

/* trying to make the trash can and hear align */
.icon-container{
  padding: 20px;
}

.float-icon{
    width: 50%;
    float: right;
    padding: 10px;
}

.component img {
  border-radius: 15px;
  margin-bottom: 10px;
}

form {
  padding-top: 100px;
  text-align: center;
  top: 15;
}