@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@300;400;500;600&family=Nunito+Sans:wght@300;600;800&family=Roboto:wght@300;400;500&display=swap');

.home-page{
    padding-top: 100px;
    padding-left: 300px;
    padding-bottom: 20px;
    /* background-color: rgb(39, 49, 74); */
    background-image: url('./chickens/sound-waves.jpeg');
    background-size:  63%;
    height: 35rem;
  }

.heading{
    font-family: Phantomsans, sans-serif;
    padding-top: 0%;
    padding-left: 1rem;
    width: 505px;
    height: 250px;
    /* background-color: rgb(208, 231, 255); */
    /* background: linear-gradient(0.25turn, #59b3da, #ffffff, #ffad55); */
}
  
.h1-1{
    font-size: 60px;
    font-weight: 600;
    color: white;
    /* color: rgb(0, 8, 70); */
    padding-bottom: 10px;
    text-shadow: 1px 1px 0 #1f6bbb;
    
   
  }

.h1-2{
    font-size: x-large;
    color: rgb(202, 230, 255);
    /* text-shadow: 1px 1px 0 #f9f9f9; */
    
}

.blueChicken img{
    border-bottom-right-radius: 20px;
}

.pinkChicken img{
    border-bottom-left-radius: 20px;
}

.yellowChicken img{
    border-top-left-radius: 20px;
}

.greenChicken img{
    border-top-right-radius: 20px;
}

.chickens-grid{
  position:absolute;
  top:110px;
  right: 40px;
  width:528px;
  height:400px;
  background-color:rgb(0, 0, 0);
  border-radius: 20px;
  display:grid;
  grid-template-columns: 240px 100px;
  grid-template-rows: 192px 5px;
  grid-row: auto auto; 
  grid-column-gap: 20px;
  
 }  

  
  .muzieknootjes {
    right: 18rem;
    top: 5rem; 
    display: block;
    margin: auto;
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 100px;
    border: 0px solid rgb(0, 0, 0);
    
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 35px;
    opacity: 0;
  }
  
  .noot-1 {
    top: 60px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 90px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 40px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }

  /* SIGN UP & LOGIN BUTTONS */
.buttons{
    position: absolute;
}
  .button-login{
      position: relative;
      bottom: 132px;
      left: 270px;
  }

  .button-signup{
    position: relative;
    bottom: 4.7rem;
    right: -4rem;
}
  
  .button-signup, .button-login {
    align-items: center;
    background-image: linear-gradient(144deg,#ffa304, #ff04a3 50%,#52c3ff, rgb(7, 255, 57));
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;  
  }
  
  .button-signup:active,
  .button-signup:hover {
    outline: 0;
  }

  .button-login:active,
  .button-login:hover {
    outline: 0;
  }
  
  .button-signup span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  .button-login span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-signup:hover span {
    background: none;
  }
  .button-login:hover span {
    background: none;
  }
  
  /* @media (min-width: 768px) {
    .button-signup {
      font-size: 24px;
      min-width: 196px;
    }
    .button-login {
        font-size: 24px;
        min-width: 196px;
      }
  }   */
  
  @media screen and (max-width: 1360px){
    .home-page{
      display: none;
    }

    /* .chickens-grid{
      display: none;
    } */
  }


/* .ribbon-container{
  position: absolute;
  width: 90rem;
  top: 3rem;
  right: -1rem;
} */

  .ribbon {

    /* top: -3rem;
    right: -9rem; */
    font-size: 16px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
    width: 50%;
    position: absolute;
    top: 32rem;;
    right: 13.5rem;
    background: #020713;
    color: #fff;
    text-align: center;
    padding: 1.5em 2em; /* Adjust to suit */
    margin: 2em auto 3em; 
    /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
   }
   .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #020713;
    z-index: -1;
   }
   .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
   }
   .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #020713 transparent transparent transparent;
    bottom: -1em;
   }
   .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
   }
   
   
   
  
